page-profile {
  .box2-1 {
    padding: 1rem 1.5rem;
    position: relative;

    .row2-1 {
      display: flex;
      flex: 1;

      .img2-1 {
        width: 4rem;
        height: 4rem;
        background: #fff;
        border-radius: 50%;
        margin-right: 1rem;
      }

      .group2-1 {
        width: calc(100% - 50px);
        justify-content: flex-start;
      }

      .lbl2-1 {
        margin: 0;
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
        color: #fff;
      }

      .lbl2-2 {
        margin: 0;
        color: #fff;
        opacity: .8;
        font-size: 1.2rem;
        padding-top: .3rem;
      }

      .icon2-1 {
        font-size: 2rem;
        transform: rotate(-180deg);
        padding-left: .5rem;
        position: absolute;
        padding: 1rem;
        top: 7px;
        right: 20px;
        z-index: 100;
      }
    }
  }

  .lst2-5 {
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    background: #fff;

    .btn2-1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: .8rem 0;
      background: transparent;
      font-weight: 500;
      font-size: 1.4rem;
      color: #666;
    }

    .icon2-3 {
      width: 30px;
      height: 30px;

      &.iconsprite2-tttk {
        background-position: -3px -225px;
      }

      &.iconsprite2-dmk {
        background-position: -38px -223px;
      }

      &.iconsprite2-hd {
        background-position: -73px -223px;
      }

      &.iconsprite2-ttud {
        background-position: -107px -224px;
      }

      &.iconsprite2-cd {
        background-position: -141px -225px;
      }

    }

    .lbl2-3 {
      width: calc(100% - 4rem);
      text-align: left;
    }
  }
}
