<ion-header class="menu-header">
  <div class="box2-1">
    <!-- <div class="row2-1" *ngIf="this.flatLogin==1">
      <img src="{{currentuser.UrlImage}}" alt="" class="img2-1" (click)="goPage(0)">
      <div class="group2-1">
        <p class="lbl2-1">
          <span class="lbl2-1a">{{currentuser.HoTen}}</span>
          <ion-icon ios="md-exit" md="md-exit" class="icon2-1" (click)="Logout()"></ion-icon>
        </p>
      </div>
    </div> -->
    <div class="row2-1" *ngIf="this.flatLogin==1">
      <img src="assets/imgs/logo.jpg" alt="" class="img2-1">
      <div class="group2-1">
        <p class="lbl2-1">
          <span class="lbl2-1a">Ứng dụng công dân</span>
          <ion-icon name="log-in" class="icon2-1" (click)="Login()"></ion-icon>
        </p>
        <p class="lbl2-2">Tài khoản mới</p>
      </div>
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="lst2-5">
    <button class="btn2-1" (click)="goPage(0)" *ngIf="this.flatLogin==1">
      <span class="icon2-3 iconsprite2-tttk"></span>
      <span class="lbl2-3">Thông tin tài khoản</span>
    </button>
    <button class="btn2-1" *ngIf="this.flatLogin==1">
      <span class="icon2-3 iconsprite2-dmk"></span>
      <span class="lbl2-3">Đổi mật khẩu</span>
    </button>
    <button class="btn2-1">
      <span class="icon2-3 iconsprite2-hd"></span>
      <span class="lbl2-3">Hướng dẫn</span>
    </button>
    <button class="btn2-1">
      <span class="icon2-3 iconsprite2-ttud"></span>
      <span class="lbl2-3">Thông tin ứng dụng</span>
    </button>
    <button class="btn2-1">
      <span class="icon2-3 iconsprite2-cd"></span>
      <span class="lbl2-3">Cài đặt</span>
    </button>
  </div>
</ion-content>
