page-home {

  .box2-1 {
    padding: 1rem 1.5rem;
    position: relative;

    .row2-1 {
      display: flex;
      flex: 1;

      .img2-1 {
        width: 4rem;
        height: 4rem;
        background: #fff;
        border-radius: 50%;
        margin-right: 1rem;
      }

      .group2-1 {
        width: calc(100% - 50px);
      }

      .lbl2-1 {
        margin: 0;
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
        color: #fff;
      }

      .lbl2-2 {
        margin: 0;
        color: #fff;
        opacity: .8;
        font-size: 1.2rem;
        padding-top: .3rem;
      }

      .icon2-1 {
        font-size: 2.5rem;
        padding-left: .5rem;
        position: absolute;
        padding: 1rem;
        top: 7px;
        right: 20px;
        z-index: 100;
      }
    }
  }

  .iconsprite2-2 {
    background-position: -66px 6px;
  }

  .iconsprite2-3 {
    background-position: -102px 4px;
  }

  .row2-3 {
    margin: 2rem 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .btn2-1 {
      width: 130px;
      padding: 1.5rem 1rem;
      background: #fff;
      border-radius: 10px;
      border: 1px solid #eaeaea;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .icon2-2 {
      display: inline-block;
      width: 42px;
      height: 42px;
      background-color: #f59300;
      border-radius: 50%;
    }

    .lbl2-3 {
      @extend .lbl2-2;
      margin: 1rem 0 0;
      font-weight: 400;
      font-size: 1.5rem;
    }
  }

  .row2-4 {
    margin-bottom: 4rem;
  }

  .lbl2-4 {
    display: flex;
    margin: 0 1rem 1rem;
    font-weight: 500;
    justify-content: space-between;
    color: #443e3e;
    background: transparent;
  }

  .btn2-4 {
    @extend .lbl2-4;
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    align-items: center;

    ion-icon {
      padding-left: .5rem;
    }
  }

  .lst2-3 {
    margin: 0 1rem;
    display: -webkit-box;
    overflow: auto;

    .item2-3 {
      width: 100px;
      height: 130px;
      border-radius: 5px;
      position: relative;
      margin-right: 1rem;
    }

    .img2-2 {
      border-radius: 5px;
      height: 100%;
      width: 100%;
    }

    .lbl2-5 {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 1rem;
      padding: .5rem;
      color: #fff;
      max-height: 33px;
      background: rgba(0, 0, 0, 0.1);
      white-space: normal;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .label {
      width: 100%;
      height: 100%;
    }

    .icon2-4 {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 5px;
      left: 5px;
      border-radius: 50%;
      padding: .5rem;
      border: 1px solid #fff;

      &[data-type*='1'] {
        background-position: -143px -1px;
        background-color: #dd5144;
      }

      &[data-type*='2'] {
        background-position: -179px -1px;
        background-color: #ffcd46;
      }

      &[data-type*='3'] {
        background-position: -214px -1px;
        background-color: #1da462;
      }

      &[data-type*='4'] {
        background-position: -248px -1px;
        background-color: #4c8bf5;
      }
    }
  }

  .lst2-4 {
    margin: 0;
    background: #fff;

    .item2-1.item-block {
      padding: 0;

      &.style2-1 {
        ion-label.label {
          padding: 0;
          margin: 0;
          max-height: unset;
        }

        .img2-1 {
          width: 100%;
          max-height: 200px;
        }

        .lbl2-1 {
          position: absolute;
          bottom: 0;
          background: rgba(0, 0, 0, 0.5);
          padding: 1rem;
          color: #fff;
          -webkit-line-clamp: 2;
          width: 100%;
          max-height: none;
        }
      }

      .item-inner {
        padding: 0;
        border-bottom: none;
      }

      ion-label.label {
        margin: 0 .8rem;
        display: flex;
        justify-content: space-between;
        padding: .8rem 0;
        border-bottom: 1px solid #ddd;
        position: relative;
        min-height: 81px;
        max-height: 81px;
      }

      &:first-child {
        border-top: none;
      }

      &:last-child {
        border-bottom: none;

        ion-label.label {
          border-bottom: none;
        }
      }

      .lbl2-2 {
        font-size: 1.3rem;
        color: #999;
        margin: 0;
      }
    }

    .left2-1 {
      width: 100px;

      .img2-1 {
        width: 100%;
        height: 100%;
      }
    }

    .right-1 {
      width: calc(100% - 110px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .lbl2-1 {
      white-space: normal;
      color: #333;
      font-size: 1.5rem;
      width: calc(100% - 130px);
      font-weight: 500;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 55px;
    }

    .lbl2-1b {
      font-size: 1.3rem;
      color: #999;
      margin: 0;
      display: block;
      margin-bottom: .5rem;
    }
  }

  .bage2-1 {
    position: absolute;
    font-size: 1.2rem;
    top: 2px;
    right: 2px;
    width: 18px;
    height: 18px;
    display: flex;
    border-radius: 50%;
    background: #1da462;
    align-items: center;
    justify-content: center;
  }

  .fab2-1 {
    background: #f59300;
    height: 50px;
    width: 50px;
  }

  .img2-1 {
    width: 120px;
  }

  @media (min-width: 480px) {
    .row2-3 {
      margin: 2rem 15% 4rem;
    }

    .lst2-4 {
      display: flex;
      flex-wrap: wrap;

      .item2-1.item-block {
        width: 50%;

        &.style2-1 {
          width: 100%;

          .img2-1 {
            max-height: unset;
          }
        }

        .item-inner {
          padding: 0;
          border-bottom: none;
        }

        ion-label.label {
          border-bottom: none;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .scroll-content {
      background: #F0EFF5;
      padding: 0 10%;
    }
    .lst2-4 {
      .item2-1.item-block {
        width: 33.3333333%;

        &.style2-1 {
          width: 100%;

          ion-label.label {
            flex-direction: row;
          }

          .lbl2-1 {
            height: unset;
          }
        }

        ion-label.label {
          border-bottom: none;
          flex-direction: column;
          max-height: unset;
        }
      }

      .left2-1 {
        width: 100%;
        height: 180px;
      }

      .right-1 {
        width: 100%;
      }

      .lbl2-1 {
        font-size: 1.6rem;
        -webkit-line-clamp: 2;
        padding-top: .5rem;
        height: unset;
        max-height: unset;
        width: 100%;
      }
    }

    .img2-1 {
      width: 100%;
      max-height: 204px;
    }
  }

  @media (min-width: 1024px) {
    .scroll-content {
      background: #F0EFF5;
      padding: 0 15%;
    }
  }
}
