<ion-header class="menu-header">
  <ion-navbar>
    <div class="wrapper2-3">
      <input type="text" class="txt2-3" [(ngModel)]="txtSearch" [placeholder]="placeholder" />
      <span class="btn2-4">
        <ion-icon name="search"></ion-icon>
      </span>
    </div>
    <ion-buttons end class="btn-filter">
      <button (click)="presentPopover($event,txtSearch)">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-segment class="row2-2 tab-hoso" [(ngModel)]="tabs">

    <ion-segment-button class="btn2-1" value="0" (click)="onTabChange(0)">Chưa nộp</ion-segment-button>
    <ion-segment-button class="btn2-1" value="1" (click)="onTabChange(1)">Chờ giải quyết</ion-segment-button>
    <ion-segment-button class="btn2-1" value="2" (click)="onTabChange(2)">Đã có kết quả</ion-segment-button>
    <ion-segment-button class="btn2-1" value="3" (click)="onTabChange(3)">Từ chối</ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content class="fade-in-bottom">
  <ion-slides [ngClass]="{'first': firstLoad}" #Slides (ionSlideWillChange)="moveTab($event)">
    <ion-slide class="slide2-1">
      <ion-list class="lst2-1">
        <ion-item class="item2-1" data-type="0" *ngIf="show" (click)="goPage()">
          <div class="wrapper2-1">
            <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
            <span class="lbl2-2">It is a long established fact that a reader will be distracted by the readable content
              of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
              distribution of letters, as opposed to using 'Content here, content here</span>
          </div>
          <span class="lbl2-3">Chưa nộp</span>
        </ion-item>
        <ion-item class="item2-1" data-type="1" *ngIf="show" (click)="goPage()">
          <div class="wrapper2-1">
            <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
            <span class="lbl2-2">Cấp mới giấp phép kinh doanh</span>
          </div>
          <span class="lbl2-3">Chờ xác nhận</span>
        </ion-item>
        <ion-item class="item2-1" data-type="2" *ngIf="show" (click)="goPage()">
          <div class="wrapper2-1">
            <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
            <span class="lbl2-2">Cấp mới giấp phép kinh doanh</span>
          </div>
          <span class="lbl2-3">Chờ bổ sung</span>
        </ion-item>
        <ion-item class="item2-1" data-type="0" *ngIf="show" (click)="goPage()">
          <div class="wrapper2-1">
            <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
            <span class="lbl2-2">Cấp mới giấp phép kinh doanh</span>
          </div>
          <span class="lbl2-3">Chưa nộp</span>
        </ion-item>
        <ion-item class="item2-1" data-type="1" *ngIf="show" (click)="goPage()">
          <div class="wrapper2-1">
            <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
            <span class="lbl2-2">Cấp mới giấp phép kinh doanh</span>
          </div>
          <span class="lbl2-3">Chờ xác nhận</span>
        </ion-item>
        <ion-item class="item2-1" data-type="2" *ngIf="show" (click)="goPage()">
          <div class="wrapper2-1">
            <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
            <span class="lbl2-2">Cấp mới giấp phép kinh doanh</span>
          </div>
          <span class="lbl2-3">Chờ bổ sung</span>
        </ion-item>
        <div *ngFor="let i of [0,1,2,3,4,5]">
        <ion-item class="item2-1" data-type="2" (click)="goPage()" *ngIf="!show">
            <div class="wrapper2-1" >
              <skeleton-item height="18px" width="200px"></skeleton-item>
              <skeleton-item height="15px"></skeleton-item>
              <skeleton-item height="15px"></skeleton-item>
              <skeleton-item height="15px"  width="250px"></skeleton-item>
            </div>
            <div class="lbl2-3">
            <skeleton-item style="margin-top: 0" height="18px" width="70px" inline></skeleton-item>
            </div>
          </ion-item>
        </div>
      </ion-list>
    </ion-slide>
    <ion-slide class="slide2-1 style2-2">
      <ion-list class="lst2-1">
        <ion-item class="item2-1" data-type="1" (click)="goPage()" *ngIf="show">
          <div class="wrapper2-1">
            <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
            <span class="lbl2-2">Cấp mới giấp phép kinh doanh</span>
          </div>
          <span class="lbl2-3">Đã nộp (Chờ xác nhận)</span>
        </ion-item>
        <ion-item class="item2-1" data-type="1" (click)="goPage()" *ngIf="show">
          <div class="wrapper2-1">
            <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
            <span class="lbl2-2">Cấp mới giấp phép kinh doanh</span>
          </div>
          <span class="lbl2-3">Đã nộp (Chờ xác nhận)</span>
        </ion-item>
        <ion-item class="item2-1" data-type="1" (click)="goPage()" *ngIf="show">
          <div class="wrapper2-1">
            <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
            <span class="lbl2-2">Cấp mới giấp phép kinh doanh</span>
          </div>
          <span class="lbl2-3">Đã nộp (Chờ xác nhận)</span>
        </ion-item>
        <ion-item class="item2-1" data-type="1" (click)="goPage()" *ngIf="show">
          <div class="wrapper2-1">
            <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
            <span class="lbl2-2">Cấp mới giấp phép kinh doanh</span>
          </div>
          <span class="lbl2-3">Đã nộp (Chờ xác nhận)</span>
        </ion-item>
        <ion-item class="item2-1" data-type="1" (click)="goPage()" *ngIf="show">
          <div class="wrapper2-1">
            <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
            <span class="lbl2-2">Cấp mới giấp phép kinh doanh</span>
          </div>
          <span class="lbl2-3">Đã nộp (Chờ xác nhận)</span>
        </ion-item>
        <ion-item class="item2-1" data-type="1" (click)="goPage()" *ngIf="show">
          <div class="wrapper2-1">
            <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
            <span class="lbl2-2">Cấp mới giấp phép kinh doanh</span>
          </div>
          <span class="lbl2-3">Đã nộp (Chờ xác nhận)</span>
        </ion-item>
        <ion-item class="item2-1" data-type="1" (click)="goPage()" *ngIf="show">
          <div class="wrapper2-1">
            <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
            <span class="lbl2-2">Cấp mới giấp phép kinh doanh</span>
          </div>
          <span class="lbl2-3">Đã nộp (Chờ xác nhận)</span>
        </ion-item>

        <div *ngFor="let i of [0,1,2,3,4,5]">
            <ion-item class="item2-1" data-type="2" (click)="goPage()" *ngIf="!show">
                <div class="wrapper2-1" >
                  <skeleton-item height="18px" width="200px"></skeleton-item>
                  <skeleton-item height="15px"></skeleton-item>
                  <skeleton-item height="15px"  width="250px"></skeleton-item>
                </div>
                <div class="lbl2-3">
                <skeleton-item style="margin-top: 0" height="18px" width="120px" inline></skeleton-item>
                </div>
              </ion-item>
            </div>


      </ion-list>
    </ion-slide>
    <ion-slide class="slide2-1 style2-3">
      <ion-list class="lst2-1">
        <ion-item class="item2-1" data-type="1" (click)="goPage()" *ngIf="show">
          <div class="wrapper2-1">
            <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
            <span class="lbl2-2">Cấp mới giấp phép kinh doanh</span>
          </div>
          <span class="lbl2-3">Đã có kết quả giải quyết</span>
        </ion-item>
        <ion-item class="item2-1" data-type="1" (click)="goPage()" *ngIf="show">
          <div class="wrapper2-1">
            <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
            <span class="lbl2-2">Cấp mới giấp phép kinh doanh</span>
          </div>
          <span class="lbl2-3">Đã có kết quả giải quyết</span>
        </ion-item>
        <ion-item class="item2-1" data-type="1" (click)="goPage()" *ngIf="show">
          <div class="wrapper2-1">
            <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
            <span class="lbl2-2">Cấp mới giấp phép kinh doanh</span>
          </div>
          <span class="lbl2-3">Đã có kết quả giải quyết</span>
        </ion-item>
        <ion-item class="item2-1" data-type="1" (click)="goPage()" *ngIf="show">
          <div class="wrapper2-1">
            <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
            <span class="lbl2-2">Cấp mới giấp phép kinh doanh</span>
          </div>
          <span class="lbl2-3">Đã có kết quả giải quyết</span>
        </ion-item>
        <ion-item class="item2-1" data-type="1" (click)="goPage()" *ngIf="show">
          <div class="wrapper2-1">
            <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
            <span class="lbl2-2">Cấp mới giấp phép kinh doanh</span>
          </div>
          <span class="lbl2-3">Đã có kết quả giải quyết</span>
        </ion-item>
        <ion-item class="item2-1" data-type="1" (click)="goPage()" *ngIf="show">
          <div class="wrapper2-1">
            <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
            <span class="lbl2-2">Cấp mới giấp phép kinh doanh</span>
          </div>
          <span class="lbl2-3">Đã có kết quả giải quyết</span>
        </ion-item>

        <div *ngFor="let i of [0,1,2,3,4,5]">
            <ion-item class="item2-1" data-type="2" (click)="goPage()" *ngIf="!show">
                <div class="wrapper2-1" >
                  <skeleton-item height="18px" width="200px"></skeleton-item>
                  <skeleton-item height="15px"></skeleton-item>
                  <skeleton-item height="15px"  width="250px"></skeleton-item>
                </div>
                <div class="lbl2-3">
                <skeleton-item style="margin-top: 0" height="18px" width="120px" inline></skeleton-item>
                </div>
              </ion-item>
            </div>

      </ion-list>
    </ion-slide>
    <ion-slide class="slide2-1 style2-4">
      <ion-item class="item2-1" data-type="1" (click)="goPage()" *ngIf="show">
        <div class="wrapper2-1">
          <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
          <span class="lbl2-2">Cấp mới giấp phép kinh doanh</span>
        </div>
        <span class="lbl2-3">Không đủ điều kiện</span>
      </ion-item>
      <ion-item class="item2-1" data-type="1" (click)="goPage()" *ngIf="show">
        <div class="wrapper2-1">
          <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
          <span class="lbl2-2">Cấp mới giấp phép kinh doanh</span>
        </div>
        <span class="lbl2-3">Không đủ điều kiện</span>
      </ion-item>
      <ion-item class="item2-1" data-type="1" (click)="goPage()" *ngIf="show">
        <div class="wrapper2-1">
          <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
          <span class="lbl2-2">Cấp mới giấp phép kinh doanh</span>
        </div>
        <span class="lbl2-3">Không đủ điều kiện</span>
      </ion-item>
      <ion-item class="item2-1" data-type="1" (click)="goPage()" *ngIf="show">
        <div class="wrapper2-1">
          <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
          <span class="lbl2-2">Cấp mới giấp phép kinh doanh</span>
        </div>
        <span class="lbl2-3">Không đủ điều kiện</span>
      </ion-item>
      <ion-item class="item2-1" data-type="1" (click)="goPage()" *ngIf="show">
        <div class="wrapper2-1">
          <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
          <span class="lbl2-2">Cấp mới giấp phép kinh doanh</span>
        </div>
        <span class="lbl2-3">Không đủ điều kiện</span>
      </ion-item>
      <ion-item class="item2-1" data-type="1" (click)="goPage()" *ngIf="show">
        <div class="wrapper2-1">
          <span class="lbl2-1">Thành lập và phát triển doanh nghiệp</span>
          <span class="lbl2-2">Cấp mới giấp phép kinh doanh</span>
        </div>
        <span class="lbl2-3">Không đủ điều kiện</span>
      </ion-item>

      
      <div *ngFor="let i of [0,1,2,3,4,5]">
          <ion-item class="item2-1" data-type="2" (click)="goPage()" *ngIf="!show">
              <div class="wrapper2-1" >
                <skeleton-item height="18px" width="200px"></skeleton-item>
                <skeleton-item height="15px"></skeleton-item>
                <skeleton-item height="15px"  width="250px"></skeleton-item>
              </div>
              <div class="lbl2-3">
              <skeleton-item style="margin-top: 0" height="18px" width="120px" inline></skeleton-item>
              </div>
            </ion-item>
          </div>

    </ion-slide>
  </ion-slides>
</ion-content>
<div class="wave-animation wave style2-2"></div>