page-khac {
  .lst2-5 {
    .btn2-1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: .8rem 1rem;
      background: transparent;
      font-weight: 500;
      font-size: 1.4rem;
      color: #666;
    }

    .wrapper2-7 {
      margin-bottom: 1rem;
      background: #fff;
      border-bottom: 1px solid #ddd;
    }

    .icon2-3 {
      width: 30px;
      height: 30px;
      font-size: 2.8rem;
      line-height: 30px;
      text-align: center;

      &.marker {
        color: #E7352D;
      }

      &.map {
        color: #8CD9A5;
      }

      &.folder {
        color: #F8C427;
      }

      &.document {
        color: #1D6FB0;
      }

      &.cash {
        color: #358439;
      }

      &.food {
        color: #7BC1D3;
      }

      &.finger {
        color: #008174;
      }

      &.people {
        color: #EB8E00;
      }

      &.star {
        color: #F8DF00;
      }
    }

    .lbl2-3 {
      width: calc(100% - 4rem);
      text-align: left;
    }
  }
}
