body,
ion-app.ios,
ion-app.md,
ion-app.wp {
  font-family: "Roboto", sans-serif !important;
}

[class*="iconsprite2-"],
[class*="iconbfsprite2-"]:before,
[class*="iconafsprite2-"]:after {
  background-image: url(../assets/imgs/main2.png);
  background-repeat: no-repeat;
  background-size: 350px 350px;
}

.header-md::after {
  display: none;
}

.toolbar-md {
  padding: 4px;
  padding-left: 4px;
  padding-right: 4px;
  min-height: 44px;
}

.popover-md ion-backdrop {
  opacity: 0.08;
}

[class*="iconsprite1-"],
[class*="iconbfsprite1-"]:before,
[class*="iconafsprite1-"]:after {
  background-image: url(../assets/imgs/main1.png);
  background-repeat: no-repeat;
  background-size: 350px 350px;
}

//settings ios
.toolbar-ios .wrapper2-3 {
  top: calc(20px + 4px);
  top: calc(constant(safe-area-inset-top) + 4px);
  top: calc(env(safe-area-inset-top) + 8px);
}

.menu-header {
  background: #00c9ff;
  background: -webkit-linear-gradient(to right, #00c9ff, #62e6ca);
  background: linear-gradient(to right, #00c9ff, #62e6ca);

  

  .ion-md-funnel:before {
    content: "\f182";
  }
}

.toolbar {
  .toolbar-title {
    color: #fff;
  }

  .toolbar-background {
    @extend .menu-header;
  }

  .back-button {
    color: #fff;

    &.back-button-md {
      padding: 0;
      margin: 0;
    }
  }

  &.toolbar-md + .wrapper2-3 {
    top: 13px;
  }
}

.clear {
  clear: both;
}

.lbl2-2 {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 1rem 0;
}

.scroll-content {
  background: #f0eff5;
}

.item.item-block {
  border: none;
  padding: 0;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  .item-inner {
    padding: 0;
    border-bottom: none;

    .label {
      margin: 0;
    }
  }
}

.pie-grid.chart .label.ng-star-inserted:nth-child(4) {
  display: none !important;
}

//alert show
.error-msg .toast-wrapper {
  background: #c1272d;
}

.success-msg .toast-wrapper {
  background: #22b573;
}

.warning-msg .toast-wrapper {
  background: #fec552;
}
