<ion-header class="menu-header">
  <ion-navbar>
    <ion-title>Chi tiết</ion-title>
    <ion-buttons end *ngIf="LoaiAnNinh == 1">
      <button class="btn2-5" ion-button icon-only (click)="changePage()">
        <ion-icon name="flag"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content [ngClass]="{'truyna': LoaiAnNinh == 1,tintuc: LoaiAnNinh != 1}">
  <div class="wrapper-truyna" *ngIf="LoaiAnNinh == 1 && chitietANTT">
    <div class="wrapper2-1">
      <img [src]="chitietANTT.AnhDaiDien" class="img2-2">
      <p class="lbl2-1">{{chitietANTT.TenHanhVi}}</p>
      <p class="lbl2-2">{{chitietANTT.TieuDe}}</p>
    </div>
    <div class="section2-1" [ngClass]="{'show': show}">
      <div class="group2-4">
        <div class="wrapper2-2">
          <div class="row2-2">
            <span class="lbl2-5">Họ Tên</span>
            <span class="lbl2-6">{{chitietANTT.HoTen}}</span>
          </div>
          <div class="row2-2">
            <span class="lbl2-5">Năm sinh</span>
            <span class="lbl2-6">{{chitietANTT.NamSinh}}</span>
          </div>
          <div class="row2-2">
            <span class="lbl2-5">Giới Tính</span>
            <span class="lbl2-6">{{chitietANTT.GioiTinh}}</span>
          </div>
          <div class="row2-2">
            <span class="lbl2-5">Nơi đăng ký HKTT</span>
            <span class="lbl2-6">{{chitietANTT.HoKhauThuongTru}}</span>
          </div>
          <div class="row2-2">
            <span class="lbl2-5">Chỗ ở hiện tại</span>
            <span class="lbl2-6">{{chitietANTT.ChoOHienTai}}</span>
          </div>
          <div class="row2-2">
            <span class="lbl2-5">Chỗ ở trước khi trốn</span>
            <span class="lbl2-6">{{chitietANTT.ChoOTruocKhiTron}}</span>
          </div>
        </div>
        <div class="wrapper2-2">
          <div class="lst2-5">
            <button class="group2-3" *ngFor="let file of chitietANTT.ListFile" [attr.data-type]="file.fileType" (click)="openFile(file)">
              <span class="icon2-4 iconsprite2-4"></span>
              <p class="lbl2-6">{{file.fileName}}</p>
            </button>
          </div>
        </div>
      </div>
      <div class="group2-5">
        <div class="wrapper2-2">
          <ion-list class="lst2-6">
            <ion-item class="row2-2">
              <ion-label floating class="lbl2-5">Họ Tên</ion-label>
              <ion-input class="lbl2-6" [(ngModel)]="txtNameBaoTin" type="text"></ion-input>
            </ion-item>
            <ion-item class="row2-2">
              <ion-label floating class="lbl2-5">Số Điện Thoại</ion-label>
              <ion-input class="lbl2-6" [(ngModel)]=" txtSDTBaoTin" type="number"></ion-input>
            </ion-item>
            <ion-item class="row2-2">
              <ion-label floating class="lbl2-5">Thông tin liên quan đến đối tượng: </ion-label>
              <ion-textarea [(ngModel)]=" txtInfoBaoTin" autosize class="lbl2-6"></ion-textarea>
            </ion-item>
          </ion-list>
          <button class="btn2-6" (click)="baotin()">Báo Tin</button>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-tintuc" *ngIf="LoaiAnNinh != 1 && chitietANTT">
    <div class="title2-1">{{chitietANTT.TieuDe}}</div>
    <p class="lbl2-1">05/03/2018</p>
    <div class="info" [innerHtml]="chitietANTT.NoiDung"></div>
    <div class="clear"></div>
    <div class="row2-1">
      <p class="lbl2-3">Tin liên quan</p>
      <ion-list class="lst2-1">
        <ion-item class="item2-1" *ngFor="let item of lstTinTuc" (click)="goPage(item.AnNinhTratTuID,item.LoaiAnNinh)">
          <div class="right-1">
            <p class="lbl2-1">{{item.TieuDe}}</p>
            <span class="lbl2-2">{{item.NgayBatDau}}</span>
          </div>
          <div class="left2-1">
            <img [src]="item.AnhDaiDien" alt="Tin tức" class="img2-1">
          </div>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
