page-chitiet-phananh {
    .toolbar .toolbar-background {
        border-bottom: none;
    }

    .scroll-content {
        background: rgba(227, 233, 249, .5);
        margin-top: 44px !important;
    }

    .wrapper2-1 {
        padding: 1.5rem;
        text-align: left;
        background: #fff;

        .lbl2-1 {
            margin: 0;
            font-size: 1.6rem;
            color: #000;
            font-weight: 500;
            text-transform: capitalize;
        }

        .lbl2-2 {
            font-size: 1.2rem;
            background: #f5f5f5;
            padding: .5rem 1rem;
            display: inline-block;
            border: 1px solid #ddd;
            border-radius: 5px;
            color: #505050;
            margin: 1rem 0 0;
        }
    }

    .group2-1 {
        margin: 1.5rem 1rem;
        padding: 1rem;
        background: #fff;
        border-radius: 10px;
    }

    .header2-1 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px dotted #ddd;
        padding-bottom: .5rem;

        .icon2-11 {
            width: 30px;
            height: 30px;
            display: block;
            margin-right: .5rem;
        }

        .iconsprite2-thongtin {
            background-position: -3px -32px;
        }

        .iconsprite2-trinhtu {
            background-position: -142px -32px;
        }

        .iconsprite2-thanhphan {
            background-position: -177px -32px;
        }

        .iconsprite2-traodoi {
            background-position: -72px -34px;
        }

        .lbl2-11 {
            color: #666;
            font-weight: 500;
            font-size: 1.5rem;
        }
    }

    .content2-1 {
        padding: 1.5rem 0 0;

        &.style2-1 {
            font-size: 1.5rem;
            line-height: 2.5rem;
            color: #312c4c;
            white-space: pre-line;

            p {
                margin: 0;
            }
        }

        .wrapper2-1 {
            display: flex;
            align-content: center;
            justify-content: space-between;
            margin-bottom: 1.2rem;
            font-size: 1.5rem;
        }

        .group2-2 {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 2rem;

            .wrapper2-1 {
                width: 50%;
                flex-wrap: wrap;
            }

            .lbl2-12 {
                margin-bottom: .8rem;
            }

            .lbl2-12,
            .lbl2-13 {
                width: 100%;
                display: block;
                text-align: left;
            }
        }

        .lbl2-12 {
            color: #a0a0a0;
            width: 110px;
            margin-right: .5rem;
        }

        .lbl2-13 {
            font-weight: 600;
            color: #312c4c;
            text-align: right;
            width: calc(100% - 115px);
        }
    }

    .lst2-5 {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        .group2-3 {
            width: 100%;
            background: transparent;
            display: flex;
            align-items: center;
            padding: .5rem;

            &[data-type*='pdf'] {
                .icon2-4 {
                    background-position: -102px -123px;
                }
            }

            &[data-type*='doc'] {
                .icon2-4 {
                    background-position: 3px -123px;
                }
            }

            &[data-type*='xsl'] {
                .icon2-4 {
                    background-position: -32px -123px;
                }
            }

            &[data-type*='ppt'] {
                .icon2-4 {
                    background-position: -67px -123px;
                }
            }

            &[data-type*='jpg'] {
                .icon2-4 {
                  background-position: -137px -124px;
                }
            }

            &[data-type*='png'] {
                .icon2-4 {
                    background-position: -172px -123px;
                }
            }

            .icon2-4 {
                width: 40px;
                height: 40px;
                margin-right: 1rem
            }

            .lbl2-6 {
                width: calc(100% - 5rem);
                color: #666;
                font-weight: 500;
                margin: 0;
            }
        }
    }
}