<ion-header class="menu-header">
  <ion-navbar>
    <ion-title>Chi tiết phản ánh</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="truyna" *ngIf="chitietPA">
  <div class="wrapper2-1">
    <p class="lbl2-1">{{chitietPA.TieuDe}}</p>
    <div class="wrapper2-1b">
      <p class="lbl2-2">Ngày tạo: {{chitietPA.NgayTao}}</p>
      <p class="lbl2-2">Địa chỉ: {{chitietPA.DiaChiNguoiHoi}}</p>
    </div>
  </div>

  <div class="group2-1">
    <div class="header2-1">
      <span class="icon2-11 iconsprite2-trinhtu"></span>
      <span class="lbl2-11">Nội dung câu hỏi</span>
    </div>
    <div class="content2-1 style2-1">{{chitietPA.NoiDungHtml}}</div>
  </div>
  <div class="group2-1">
    <div class="header2-1">
      <span class="icon2-11 iconsprite2-thongtin"></span>
      <span class="lbl2-11">Thông tin người đáp</span>
    </div>
    <div class="content2-1">
      <div class="wrapper2-1" *ngIf="chitietPA.TenNguoiTraLoi">
        <span class="lbl2-12">Người trả lời</span>
        <span class="lbl2-13">{{chitietPA.TenNguoiTraLoi}}</span>
      </div>
      <div class="wrapper2-1" *ngIf="chitietPA.NgayTraLoi">
        <span class="lbl2-12">Ngày trả lời</span>
        <span class="lbl2-13">{{chitietPA.NgayTraLoi}}</span>
      </div>
      <div class="wrapper2-1" *ngIf="chitietPA.ChucVuNguoiTraLoi">
        <span class="lbl2-12">Chức vụ</span>
        <span class="lbl2-13">{{chitietPA.ChucVuNguoiTraLoi}}</span>
      </div>
    </div>
  </div>
  <div class="group2-1">
    <div class="header2-1">
      <span class="icon2-11 iconsprite2-traodoi"></span>
      <span class="lbl2-11">Nội dung trả lời</span>
    </div>
    <div class="content2-1 style2-1" [innerHtml]="chitietPA.NoiDungTraLoiHtml"></div>
  </div>
  <div class="group2-1">
    <div class="header2-1">
      <span class="icon2-11 iconsprite2-thanhphan"></span>
      <span class="lbl2-11">Tài liệu đính kèm</span>
    </div>
    <div class="content2-1 style2-2">
      <div class="lst2-5">
        <button class="group2-3" *ngFor="let file of chitietPA.ListFile" [attr.data-type]="file.fileType"
          (click)="openFile(file)">
          <span class="icon2-4 iconsprite2-4"></span>
          <p class="lbl2-6">{{file.fileName}}</p>
        </button>
        <button class="group2-3" *ngFor="let file of chitietPA.ListFileTL" [attr.data-type]="file.fileType"
          (click)="openFile(file)">
          <span class="icon2-4 iconsprite2-4"></span>
          <p class="lbl2-6">{{file.fileName}}</p>
        </button>
      </div>
    </div>
  </div>
</ion-content>
