<ion-header>
  <ion-navbar>
    <ion-title>Chi tiết thủ tục </ion-title>
    <ion-buttons end class="btn-filter">
      <button (click)="presentFilterModal()">
        <ion-icon name="mail"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="dulieuChitiet.thutucDTO">
  <div class="lbl2-10">{{dulieuChitiet.thutucDTO.tenthutuc}}</div>
  <div class="group2-1">
    <div class="header2-1">
      <span class="icon2-11 iconsprite2-thongtin"></span>
      <span class="lbl2-11">Thông tin thủ tục</span>
    </div>
    <div class="content2-1">
      <div class="wrapper2-1">
        <span class="lbl2-12">Lĩnh vực</span>
        <span class="lbl2-131">{{dulieuChitiet.thutucDTO.tenlinhvuc}}</span>
      </div>
      <div class="wrapper2-1">
        <span class="lbl2-12">Cơ quan ban hành</span>
        <span class="lbl2-13">{{dulieuChitiet.thutucDTO.coquanbanhanh}}</span>
      </div>
      <div class="wrapper2-1">
        <span class="lbl2-12">Thời gian giải quyết</span>
        <span class="lbl2-13">{{dulieuChitiet.thutucDTO.thoihangiaiquyet}}</span>
      </div>
      <div class="wrapper2-1">
        <span class="lbl2-12">Hình thức thực hiện</span>
        <span class="lbl2-13">{{dulieuChitiet.thutucDTO.hinhthuctiepnhan}}</span>
      </div>
    </div>
  </div>
  <div class="group2-1">
    <div class="header2-1">
      <span class="icon2-11 iconsprite2-trinhtu"></span>
      <span class="lbl2-11">Trình tự thực hiện</span>
    </div>
    <div class="content2-1 style2-1" [innerHtml]="dulieuChitiet.thutucDTO.huongdan">
    </div>
  </div>
  <div class="group2-1">
    <div class="header2-1">
      <span class="icon2-11 iconsprite2-thanhphan"></span>
      <span class="lbl2-11">Thành phần hồ sơ</span>
    </div>
    <div class="content2-1 style2-1" *ngFor="let item of dulieuChitiet.thanhphanhosoDTOs">
      <p>- {{item.tenthanhphanhoso}}</p>

    </div>
  </div>
  <div class="group2-1">
    <div class="header2-1">
      <span class="icon2-11 iconsprite2-cancuphaply"></span>
      <span class="lbl2-11">Căn cứ pháp lý</span>
    </div>
    <div class="content2-1 style2-1" *ngFor="let item of cancuphaply; let i = index">
      <p>- {{item.ten}}</p>
    </div>
  </div>
</ion-content>
