<ion-header>
  <ion-navbar>
    <ion-title>Tra cứu hồ sơ</ion-title>
    <ion-buttons end class="btn-filter">
      <button (click)="gotoNo()">
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="fade-in-bottom">
  <div class="group2-1">
    <ion-icon name="barcode" (click)="timKiemHoSo()"></ion-icon>
    <ion-input type="text" [(ngModel)]="txtVBPL" class="txt2-1" (keypress)="keyPress($event)" (keyup.enter)="timKiemHoSo()"
      placeholder="Mã số tra cứu hoặc số biên nhận">
    </ion-input>
  </div>
  <div class="section2-1" *ngIf="!show">
    <img src="assets/imgs/qr.png" class="img2-1" (click)="scanQR()">
    <div class="group2-2">
      <p class="lbl2-5">Nhập số biên bản ,
        mã tra cứu mà bạn nhận được từ hệ thống hoặc
        cơ quan chức năng sau khi đăng ký hồ sơ thành công
      </p>
      <p class="lbl2-6">HOẶC</p>
      <p class="lbl2-5">
        Bấm vào biểu tượng QR để quét mã
      </p>
      <p class="lbl2-6">HOẶC</p>
      <span class="lbl2-7">Soạn tin nhắn với cú pháp: <b>TC 00.54.H29</b> gửi đến <b>1022</b></span>
    </div>
  </div>
  <div class="section2-2" *ngIf="show">
    <span class="title2-1">Thông tin tra cứu</span>
    <div class="group2-3">
      <div class="group2-4">
        <span class="lbl2-1">Số biên nhận</span>
        <span class="lbl2-1">{{chitiethoso.sobiennhan}}</span>
      </div>
      <div class="group2-4">
        <span class="lbl2-1">Mã tra cứu</span>
        <span class="lbl2-1">{{chitiethoso.matracuu}}</span>
      </div>
      <div class="group2-4">
        <span class="lbl2-1">Lĩnh vực</span>
        <span class="lbl2-1">{{chitiethoso.tenlinhvuc}}</span>
      </div>
      <div class="group2-4">
        <span class="lbl2-1">Thủ tục</span>
        <span class="lbl2-1">{{chitiethoso.tenthutuc}}</span>
      </div>
    </div>
    <div class="group2-3">
      <div class="group2-4">
        <span class="lbl2-1">Ngày nhận</span>
        <span class="lbl2-1">{{chitiethoso.ngaynhan}}</span>
      </div>
      <div class="group2-4">
        <span class="lbl2-1">Ngày hẹn trả</span>
        <span class="lbl2-1">{{chitiethoso.ngayhentra}}</span>
      </div>
      <div class="group2-4">
        <span class="lbl2-1">Ngày hoàn thành</span>
        <span class="lbl2-1">{{chitiethoso.ngayhoanthanh}}</span>
      </div>
      <div class="group2-4">
        <span class="lbl2-1">Tình trạng</span>
        <span class="lbl2-1">{{chitiethoso.matinhtrang}}</span>
      </div>
    </div>
    <div class="group2-4">
      <span class="lbl2-1">Phòng ban xử lý</span>
      <span class="lbl2-1">{{chitiethoso.phongxuly}}</span>
    </div>
    <div class="group2-4">
      <span class="lbl2-1">Người xử lý</span>
      <span class="lbl2-1">{{chitiethoso.nguoixuly}}</span>
    </div>
    <div class="group2-4">
      <span class="lbl2-1">Kết quả xử lý</span>
      <span class="lbl2-1">{{chitiethoso.ketquaxuly}}</span>
    </div>
  </div>
</ion-content>
<div class="wave-animation wave"></div>